// TODO- ADD FONT FAMILY
// Font Family

// Color Pallets
$primary: #f7d6bd;
$primary-dark: #cbbcab;
$primary-neutral: #c17862;

$black-main: #1f1f1f;
$black-dark: #000000;
$black-light: #4e472f;
$gray-light: #e3e2de;
$gray-dark: #b8b4a5;
$white-main: #ffffff;

// Break Points
$br-mobile: 640px;
$br-tablet: 768px;
$br-tablet-landscape: 1024px;
$br-desktop: 1280px;
$br-hd-desktop: 1536px;
